{{define "body"}}
<h3>Hello {{ .CandidateName }},</h3>
<p>unfortunately you missed the deadline to submit your assignment. In many cases this is an automatic fail, but you should reach out to {{.Test.Business.Name}} to make sure.</p>
{{end}}