{{ define "body" }}
<p>You've received an invite to join {{ .BusinessName }} on TestRelay. Click the link <a href="{{ .Link }}">here</a> to login into the {{ .BusinessName }} dashboard.</p>
{{ end }}
