{{define "body"}}
<p>You've been invited to review {{ .CandidateName }}'s technical assignment<p>
<p>Check out all your assigned reviews <a href="{{ .APPURL }}/assignments/assigned">Click here</a></p>
{{end}}