{{define "body"}}
<h3>Hello {{ .CandidateName }},</h3>
<p>Your test is due to start in 5 minutes. Your test instructions will be uploaded here <a href="{{.GithubRepoURL}}">{{.GithubRepoURL}}</a></p>
{{end}}